# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.local

# Local state
data/*.json
data/*.sqlite

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfvars

# Editor
.vscode/
.idea/
*.swp
